.input-expenses__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    flex-direction: row;
  }
  
  .input-expenses__control label {
    font-weight: bold;
    margin-bottom: 0.2rem;
    display: block;
  }
  
  .input-expenses__control input {
    /* font: inherit; */
    padding: 0.5rem;
    border-radius: 6px;
    background-color: rgba(240, 248, 255, 0.575);
    border: 0.5px solid rgba(255, 255, 255, 0.382);
    width: 20rem;
    max-width: 100%;
  }
  
  .input-expenses__actions {
    text-align: right;
    display: flex;
    justify-content: flex-end;

  }
  @media all and (min-width: 0px) and (max-width: 768px){
    .input-expenses__controls{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    
  }
  @media all and (min-width: 769px) and (max-width: 1024px){
    .input-expenses__controls{
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
   
}
/* @media all and (max-width: 1025px){
  .input-expenses__controls{
    flex-direction: row;
   
  }
} */